
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
   
  h1 {
    text-align: center;
  }
   
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
   
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff2ab1;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }
   
  button:hover {
    background-color: #1cacff;
  }
   
  ul {
    list-style-type: none;
    padding: 0;
  }
   
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
   
  li.checked {
    text-decoration: line-through;
    opacity: 0.5;
  }
   
  li:last-child {
    border-bottom: none;
  }
   
  .delete-btn {
    float: right;
    background-color: #d136f4;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
   
  .delete-btn:hover {
    background-color: #6a05a0;
  }